<h1>Galpão <%= @warehouse["name"]%> - <%= @warehouse["code"]%></h1>
<p><%= @warehouse["city"]%></p><%= @warehouse["city"]%>
<p><%= @warehouse["area"]%> m²</p>
<p><%= @warehouse["address"]%> - CEP <%= @warehouse["cep"] %></p>
<p><%= @warehouse["description"]%></p>